.company{
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    img{
        margin-top: 3rem;

    }
}

@include media-md{
    .company{
        background-image: url("../img/bg-header-desktop.png");
    } 

}